# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# bower component directory
public/components

# Compiled assets, minified, gzipped, etc. --> see gulpfile.js
public/client/dist

#database backup directory
dump

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules